<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Patients</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content color="" padding style="margin-top: 5px;">
    <div *ngIf="patients else nopatients">
      <div>
        <ion-list>
          <ion-item>
            Patients
          </ion-item>
        </ion-list>
        <ion-list *ngFor="let item of patients" >
          <ion-item (click)="view(item)" style="cursor: pointer;">
            <ion-thumbnail style="border-radius: 50%; height: 50px; width: 50px; background-color: #62bb51;" slot="start">
              <p style="margin: 13px; color: white;">{{item.name.split(' ')[0].charAt(0)}}{{item.name.split(' ')[1].charAt(0)}}</p>
            </ion-thumbnail>
            <ion-label>
              <h3 style="overflow: hidden; text-overflow: ellipsis; max-width: 100px;">
                {{item.name}}
              </h3>
              <p>
                PI-{{item.id}} 
              </p>
              <p>
                Added {{timeSince(item.created_at)}} ago
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <ng-template #nopatients style="margin-top: 5px;">
      No patient records.
    </ng-template>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" title="Service request">
      <ion-fab-button color="primary" routerLink="/tabs/patients/add">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
