<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">opdreminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <ion-row style="margin-top: 70px;">
    <ion-col>
      <a routerLink="/patients" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="medkit-outline" mode="ios"></ion-icon>
          <div class="label">Patients</div><br>
        </div>
      </a>
    </ion-col>
    <ion-col>
      <a routerLink="/users" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="people-outline" mode="ios"></ion-icon>
          <div class="label">Users</div><br>
        </div>
      </a>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col>
      <a routerLink="/engine" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="cog-outline" mode="ios"></ion-icon>
          <div class="label">Engine</div><br>
        </div>
      </a>
    </ion-col>
    <ion-col>
     <a routerLink="/lights" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="sunny-outline" mode="ios"></ion-icon>
          <div class="label">Lights</div><br>
        </div>
      </a>
    </ion-col>
  </ion-row> -->
  <!-- <ion-row>
    <ion-col>
      <a routerLink="/body" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="car-outline" mode="ios"></ion-icon>
          <div class="label">Body work</div><br>
        </div>
      </a>
    </ion-col>
    <ion-col>
     <a routerLink="/tyres" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="server-outline" mode="ios"></ion-icon>
          <div class="label">Tyres</div><br>
        </div>
      </a>
    </ion-col>
  </ion-row> -->
  <!-- <ion-row>
    <ion-col>
     <a routerLink="/cabin" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="car-sport-outline" mode="ios"></ion-icon>
          <div class="label">Driver Cabin</div><br>
        </div>
      </a>
    </ion-col>
    <ion-col>
     <a routerLink="/brakes" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="warning-outline" mode="ios"></ion-icon>
          <div class="label">Brakes</div><br>
        </div>
      </a>
    </ion-col>
    
  </ion-row> -->
  <!-- <ion-row>
    <ion-col style="border: none !important;">
     <a routerLink="/operations" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="briefcase-outline" mode="ios"></ion-icon>
          <div class="label">General Operations</div><br>
        </div>
      </a>
    </ion-col>
    <ion-col style="border: none !important;">
      <a routerLink="/mileage" style="text-decoration: none;">
        <div no-margin margin-top class="tab">
          <ion-icon name="scale-outline" mode="ios"></ion-icon>
          <div class="label">Mileage</div><br>
        </div>
      </a>
    </ion-col>
  </ion-row> -->
</ion-content>
