.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
ion-slide .tab{
  height: 150px;
  max-width: 100%;
  ion-icon {
      font-size: 70px;
      color: #4b61d1;
    }

}
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
ion-toolbar .tabs {
  display: flex;
  justify-content: center;
  .tab {
    text-align: center;
    width: calc(100% / 4);
    // color: #00aa00;
    &.active {
      // color: #00aa00;
    }
    ion-icon {
      font-size: 20px;
      color: #fff;
    }
    .label {
      font-size: 10px;
      margin-top: -2px;
      color: #fff;
    }
  }
}
ion-card {
  width: 100%;
}
ion-col
{
  .tab {
    text-align: center;
    width: calc(100% / 1);
    // color: #00aa00;
    border-bottom: 1px dotted #363636;
    padding: 5px;
    &.active {
      // color: #00aa00;
    }
    ion-icon {
      font-size: 30px;
      color: #5f5d5d;
    }
    .label {
      /*font-size: 20px;*/
      margin-top: -2px;
      color: #5f5d5d;
      /*font-weight: bold;*/
    }
  }
}
ion-item, ion-slide {
  cursor: pointer;
}

#columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 14px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

#columns:hover .pin:not(:hover) {
  opacity: 0.4;
}

@media (prefers-color-scheme: dark) {
  ion-col
  {
    .tab {
      text-align: center;
      width: calc(100% / 1);
      // color: #00aa00;
      border-bottom: 1px dotted #c7c5c5;
      padding: 5px;
      &.active {
        // color: #00aa00;
      }
      ion-icon {
        font-size: 30px;
        color: #c7c5c5;
      }
      .label {
        /*font-size: 20px;*/
        margin-top: -2px;
        color: #c7c5c5;
        /*font-weight: bold;*/
      }
    }
  }
}

#map {
  height: 70%;
  width: 100%;
}

ion-list {
  height: 30%;
  overflow-y: auto;
}