<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Med Reminder</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #map style="height:80vh; width: 100%;"></div>
  <ion-button expand="block" (click)="getDirections()">Get Directions</ion-button>
  <!-- <ion-list>
    <ion-item *ngFor="let pharmacy of pharmacies" (click)="showRoute(pharmacy)">
      {{ pharmacy.name }}
    </ion-item>
  </ion-list> -->
</ion-content>